.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: inherit !important;
  color: black !important;
}
@media (min-width: 0px) {
  .css-1futezt-MuiTypography-root {
    display: block !important;
  }
}
@media (min-width: 0px){
.bag {
    display: block !important;
}}

@media(min-width: 0px){
    .css-96uuyl {
        top:20% !important;
    }
}