.principalCardProdutos {
  padding-right: 10px;

  cursor: pointer;
  img {
    width: 100%;
  }

  h5 {
    margin: 0;
  }
}

.principalCardProdutos:hover {
  .nomeProduto,
  h5 {
    color: var(--primary-color);

    cursor: pointer;
  }
}

.divPromocao {
  background-color: var(--primary-color);
  color: white;

  padding-left: 5px;
}
