.principalCardIcon {
  padding: 0px 10px 10px 0px;
}

.principalCardIcon:hover {
  cursor: pointer;

  span {
    color: var(--primary-color);
  }
}

.cardIcon {
  padding: 10px;
  align-items: center;

  background-color: var(--default);
}

.iconCategoria {
  width: 42px;

  text-align: center;
  padding: 5px;
  margin-right: 10px;
  border-radius: 100px;

  background-color: var(--primary-color);

  i {
    font-size: 30px;
    color: var(--white);
  }
}
